<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TOPICO</title>

    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="/publics/swiperJs/swiper-bundle.min.css" />

    <!-- Link Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <!-- Link File CSS -->
    <link rel="stylesheet" href="/publics/assets/styles/style.css">

    <style>
        .details-content table {
            width: 50%;
            border-collapse: collapse;
            margin: 20px 0;
            font-size: 16px;
            text-align: left;
        }

        .details-content th,
        .details-content td {
            border: 1px solid #ddd;
            padding: 12px;
        }

        .details-content thead {
            background-color: #f4f4f4;
            color: #333;
        }

        .details-content th {
            text-align: center;
            font-weight: bold;
        }

        .details-content tbody tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        .details-content tbody tr:hover {
            background-color: #f1f1f1;
        }

        .details-content h3 {
            font-size: 18px;
            margin-bottom: 10px;
            color: #333;
            border-bottom: 2px solid #ddd;
            padding-bottom: 5px;
        }
    </style>

</head>

<body class="buy-product-bag menu-side-in-bag">
    <header>

        <div class="header-top">
            <div class="contanier">
                <p>Chào mừng bạn đến với Cửa hàng XPrim</p>
                <div class="link-top-heder">
                    <a href="#">My Account</a>
                    <a href="#">My Wishlist</a>
                    <a href="#">Sign In</a>
                    <a href="#">Compare</a>
                </div>
            </div>
        </div>

        <div class="header-info">
            <div class="contanier">
                <img src="/publics/assets/img/home/logo.png" alt="">

                <div class="search-bar">
                    <form action="">
                        <input type="search" placeholder="Nhập sản phẩm bạn muốn tìm kiếm...">
                        <button class="btn-srch">Search</button>
                    </form>
                </div>

                <div class="card">
                    <a href="/v1/sites/my-cart/">
                        <i class="fa-solid fa-bag-shopping"></i>
                        <span class="count-in-card"><%= soSanPhamTrongGio || 0 %></span>
                    </a>
                </div>

            </div>
        </div>

        <div class="header-bottom">
            <div class="contanier">
                <i id="open-side" class="fa-solid fa-bars"></i>
                <ul class="nav-links">

                    <li>
                        <a href="index.html">Laptop</a>


                    </li>

                    <li>
                        <a href="#">Điện thoại, Tablet</a>


                    </li>

                    <li>
                        <a href="#">Âm thanh</a>


                    </li>

                    <li>
                        <a href="#">Đồng hồ</a>
                    </li>

                    <li>
                        <a href="#">Phụ kiện</a>
                    </li>

                    <li>
                        <a href="#">PC, Màn hình, máy in</a>
                    </li>


                </ul>
                <a href="sign-up-page.html" class="sign-in-btn"><i class="fa-solid fa-user-plus"></i> </a>


            </div>
        </div>


    </header>

    <section class="product-details">
        <div class="container">
            <div class="product-buy">
                <div class="product-name-price">
                    <a class="product-item-link">
                        <%= product.data.tenSanPham %>
                    </a>

                    <div class="stars">
                        <% for (let i=0; i < Math.floor(product.data.rate); i++) { %>
                            <i class="fa-solid fa-star"></i>
                            <% } %>
                                <% if (product.data.rate % 1 !==0) { %>
                                    <i class="fa-solid fa-star-half-stroke"></i>
                                    <% } %>
                    </div>

                    <div class="price">
                        <span>
                            <%= product.data.giaBan %>
                                <%= product.data.donVi %>
                        </span>
                        <% if (product.data.sale) { %>
                            <del>
                                <%= (product.data.giaBan / (1 - parseFloat(product.data.sale))).toFixed(2) %>
                                    <%= product.data.donVi %>
                            </del>
                            <% } %>
                    </div>

                    <div class="stock-model">
                        <p>Sản phẩm: <span>
                                <%= product.data.nhanHieu %>
                            </span></p>
                        <p>Tình trạng còn: <span>Còn hàng</span></p>
                        <p>Loại: <span>Mới</span></p>
                    </div>

                    <p class="product-text">
                        <% product.data.thongTinSanPham.forEach(info=> { %>
                            <%= info %><br>
                                <% }) %>
                    </p>

                    <div id="login-prompt">
                        <p>Bạn cần đăng nhập tài khoản để thực hiện hành động này.</p>
                        <a href="/v1/sites/login" class="btn-login">Đăng nhập</a>
                    </div>

                    <form id="myForm">
                        <button type="submit" class="add-to-cart add-to-cart2">Thêm vào giỏ hàng</button>

                        <div class="quantity">
                            <span>Số lượng</span>
                            <input type="number" id="quantity" value="1" min="1" placeholder="Số lượng">
                        </div>
                    </form>

                    <ul class="product-action">
                        <li><a href="#"><i class="fa-regular fa-heart"></i></a></li>
                        <li><a href="#"><i class="fa-solid fa-sliders"></i></a></li>
                        <li><a href="#"><i class="fa-solid fa-print"></i></a></li>
                        <li><a href="#"><i class="fa-solid fa-share-nodes"></i></a></li>
                    </ul>
                </div>

                <div class="img-product">
                    <img id="big-img" src="<%= product.data.imgDefault || '/publics/assets/img/home/product-9.jpg' %>"
                        alt="Product Image">
                </div>
            </div>

            <div class="details-comment">
                <div class="details">
                    <div class="section-head">
                        <h4>Thông Tin Chi Tiết</h4>
                    </div>

                    <div class="details-content">
                        <% Object.keys(product.data.thongSoKyThuat || {}).forEach(category=> { %>
                            <h3>
                                <%= category %>
                            </h3>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Thông số</th>
                                        <th>Giá trị</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% Object.keys(product.data.thongSoKyThuat[category] || {}).forEach(key=> { %>
                                        <% if (typeof product.data.thongSoKyThuat[category][key]==='object' ) { %>
                                            <% Object.keys(product.data.thongSoKyThuat[category][key]).forEach(subKey=>
                                                { %>
                                                <tr>
                                                    <td>
                                                        <%= subKey %>
                                                    </td>
                                                    <td>
                                                        <%= product.data.thongSoKyThuat[category][key][subKey] %>
                                                    </td>
                                                </tr>
                                                <% }) %>
                                                    <% } else { %>
                                                        <tr>
                                                            <td>
                                                                <%= key %>
                                                            </td>
                                                            <td>
                                                                <%= product.data.thongSoKyThuat[category][key] %>
                                                            </td>
                                                        </tr>
                                                        <% } %>
                                                            <% }) %>
                                </tbody>
                            </table>
                            <% }) %>
                    </div>
                </div>
            </div>
            y7
        </div>
    </section>


    <section class="sale-sec contanier swiper mySwiper">

        <div class="section-head">
            <h4>CÁC SẢN PHẨM LIÊN QUAN<span></span> </h4>
        </div>

        <div class="boxs swiper-wrapper">
            <% if (productsList && productsList.length> 0) { %>
                <% productsList.forEach(product=> { %>
                    <div class="box column product-item swiper-slide">

                        <div class="div-img">
                            <img src="<%= product.imgDefault %>" class="img-product" alt="Product Image">
                            <img src="<%= product.imgHover %>" class="hover-img" alt="Product Hover Image">
                        </div>
                        <div class="content">
                            <a class="product-item-link">
                                <%= product.tenSanPham %>
                            </a>
                            <div class="stars">
                                <% for (let i=0; i < Math.floor(product.rate); i++) { %>
                                    <i class="fa-solid fa-star"></i>
                                    <% } %>
                                        <% if (product.rate % 1 !==0) { %>
                                            <i class="fa-solid fa-star-half-stroke"></i>
                                            <% } %>
                            </div>
                            <div class="price">
                                <span>
                                    <%= product.giaBan.toLocaleString() %>
                                        <%= product.donVi %>
                                </span>
                                <del>
                                    <%= (product.giaBan * 1.1).toFixed(2) %>
                                        <%= product.donVi %>
                                </del>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                        <% } else { %>
                            <p>Không có sản phẩm nào.</p>
                            <% } %>
        </div>


        <div class="swiper-button-next swiper-btn"></div>
        <div class="swiper-button-prev swiper-btn"></div>

    </section>



    <!-- Swiper JS -->
    <script src="/publics/swiperJs/swiper-bundle.min.js"></script>

    <!-- Linke File JS -->
    <script src="/publics/js/main.js"></script>

    <script>
        function getCookie(name) {
            const value = `; ${document.cookie}`;
            const parts = value.split(`; ${name}=`);
            if (parts.length === 2) return parts.pop().split(';').shift();
            return null;
        }

        const form = document.getElementById('myForm');

        form.addEventListener('submit', function (event) {
            event.preventDefault();

            const quantity = document.getElementById('quantity').value;
            const gioHangID = getCookie('gioHangID');
            const isLoggedIn = getCookie('userID');

            if (!isLoggedIn) {
                alert('Vui lòng đăng nhập để tiếp tục.');
                window.location.href = 'http://localhost:3000/v1/sites/auth/login/';
                return;
            }

            fetch('http://localhost:3300/v1/sites/cart', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    gioHangID: gioHangID,
                    productID: '<%= product.data._id %>',
                    soLuong: parseInt(quantity)
                })
            })
                .then(response => response.json())
                .then(data => {
                    if (data.isSuccess) {
                        window.location.href = 'http://localhost:3000/v1/sites/my-cart/';
                    } else {
                        alert('Có lỗi xảy ra, không thể thêm vào giỏ hàng');
                    }
                })
                .catch(error => {
                    console.error('Đã xảy ra lỗi:', error);
                    alert('Đã xảy ra lỗi khi thêm vào giỏ hàng');
                });
        });
    </script>
</body>

</html>