<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>Modern Admin Dashboard</title>
    <link rel="stylesheet" href="/publics/assets/styles/dashboard.css">
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>

<body>
    <input type="checkbox" id="menu-toggle">
    <div class="sidebar">
        <div class="side-header">
            <h3>M<span>odern</span></h3>
        </div>

        <div class="side-content">
            <div class="profile">
                <div class="profile-img bg-img" style="background-image: url(/publics/assets/img/dashboard/3.jpeg)">
                </div>
                <h4>David Green</h4>
                <small>Art Director</small>
            </div>

            <div class="side-menu">
                <ul>
                    <li>
                        <a href="" class="active">
                            <span class="las la-home"></span>
                            <small>Dashboard</small>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span class="las la-user-alt"></span>
                            <small>Profile</small>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span class="las la-envelope"></span>
                            <small>Mailbox</small>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span class="las la-clipboard-list"></span>
                            <small>Projects</small>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span class="las la-shopping-cart"></span>
                            <small>Orders</small>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span class="las la-tasks"></span>
                            <small>Tasks</small>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div class="main-content">

        <header>
            <div class="header-content">
                <label for="menu-toggle">
                    <span class="las la-bars"></span>
                </label>

                <div class="header-menu">
                    <label for="">
                        <span class="las la-search"></span>
                    </label>

                    <div class="notify-icon">
                        <span class="las la-envelope"></span>
                        <span class="notify">4</span>
                    </div>

                    <div class="notify-icon">
                        <span class="las la-bell"></span>
                        <span class="notify">3</span>
                    </div>

                    <div class="user">
                        <div class="bg-img" style="background-image: url(/publics/assets/img/dashboard/1.jpeg)"></div>

                        <span class="las la-power-off"></span>
                        <span>Logout</span>
                    </div>
                </div>
            </div>
        </header>


        <main>

            <div class="page-header">
                <h1>Dashboard</h1>
                <small>Home / Dashboard</small>
            </div>

            <div class="page-content">

                <div class="analytics">

                    <div class="card">
                        <div class="card-head">
                            <h2>107,200</h2>
                            <span class="las la-user-friends"></span>
                        </div>
                        <div class="card-progress">
                            <small>User activity this month</small>
                            <div class="card-indicator">
                                <div class="indicator one" style="width: 60%"></div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-head">
                            <h2>340,230</h2>
                            <span class="las la-eye"></span>
                        </div>
                        <div class="card-progress">
                            <small>Page views</small>
                            <div class="card-indicator">
                                <div class="indicator two" style="width: 80%"></div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-head">
                            <h2>$653,200</h2>
                            <span class="las la-shopping-cart"></span>
                        </div>
                        <div class="card-progress">
                            <small>Monthly revenue growth</small>
                            <div class="card-indicator">
                                <div class="indicator three" style="width: 65%"></div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-head">
                            <h2>47,500</h2>
                            <span class="las la-envelope"></span>
                        </div>
                        <div class="card-progress">
                            <small>New E-mails received</small>
                            <div class="card-indicator">
                                <div class="indicator four" style="width: 90%"></div>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="records table-responsive">

                    <div class="record-header">
                        <div class="add">
                            <span>Entries</span>
                            <select name="" id="">
                                <option value="">ID</option>
                            </select>
                            <button>Add record</button>
                        </div>

                        <div class="browse">
                            <input type="search" placeholder="Search" class="record-search">
                            <select name="" id="">
                                <option value="">Status</option>
                            </select>
                        </div>
                    </div>

                    <div>
                        <table width="100%">
                            <thead>
                                <tr>
                                    <th><span class="las la-sort"></span> Mã đơn hàng</th>
                                    <th><span class="las la-sort"></span> Khách hàng</th>
                                    <th><span class="las la-sort"></span> Hình thức thanh toán</th>
                                    <th><span class="las la-sort"></span> Thời gian giao dự kiến</th>
                                    <th><span class="las la-sort"></span> Trạng thái đơn hàng</th>
                                    <th><span class="las la-sort"></span> Hành động</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if (data && data.length> 0) { %>
                                    <% data.forEach(function(order) { %>
                                        <tr>
                                            <td>
                                                <%= order._id %>
                                            </td>
                                            <td>
                                                <div class="client">
                                                    <div class="client-img bg-img"
                                                        style="background-image: url(/publics/assets/img/dashboard/1.jpeg)">
                                                    </div>
                                                    <div class="client-info">
                                                        <% if (order.gioHangID && order.gioHangID.danhSachSanPham && order.gioHangID.danhSachSanPham.length > 0) { %>
                                                            <h4>
                                                                <%= order.userID.userInfo_id.name %>
                                                            </h4>
                                                        <% } else { %>
                                                            <h4></h4>
                                                        <% } %>
                                                        <small>
                                                            <%= order.userID.email %>
                                                        </small>
                                                    </div>
                                                    
                                                </div>
                                            </td>
                                            <td>
                                                <%= order.hinhThucThanhToan %>
                                            </td>
                                            <td>
                                                <%= new Date(order.thoiGianGiaoHangDuKien).toLocaleDateString('vi-VN')
                                                    %>
                                            </td>
                                            <td><span class="paid">
                                                    <%= order.trangThaiDonHang.tenTrangThai %>
                                                </span></td>
                                            <td>
                                                <button type="button" onclick="toggleUpdateForm('<%= order._id %>')"
                                                    class="icon-button">
                                                    <i class="fa-regular fa-pen-to-square" title="Sửa đơn hàng"></i>
                                                </button>
                                                <button type="button" onclick="deleteOrder('<%= order._id %>')"
                                                    class="icon-button">
                                                    <i class="fa-solid fa-trash" title="Xóa đơn hàng"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr id="update-form-<%= order._id %>" style="display: none;">
                                            <td colspan="6">
                                                <select onchange="updateOrderStatus(this.value, '<%= order._id %>')">
                                                    <% status.forEach(function(data) { %>
                                                        <option value="<%= data._id %>">
                                                            <%= data.tenTrangThai %>
                                                        </option>
                                                        <% }); %>
                                                </select>
                                                <button type="button"
                                                    onclick="saveUpdate('<%= order._id %>')">Lưu</button>
                                                <button type="button"
                                                    onclick="toggleUpdateForm('<%= order._id %>')">Hủy</button>
                                            </td>
                                        </tr>
                                        <% }); %>
                                            <% } else { %>
                                                <tr>
                                                    <td colspan="6">Không có đơn hàng nào.</td>
                                                </tr>
                                                <% } %>
                            </tbody>
                        </table>

                        </table>

                    </div>

                </div>

            </div>

        </main>

    </div>

    <script type="text/javascript" src="/publics/js/dashboard.js"></script>

</body>

</html>