<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>TECHSTORE ADMIN</title>
    <link rel="stylesheet" href="/publics/assets/styles/dashboard.css">
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


    <style>
        /* Modal styles */
        .product-modal {
            display: none;
            /* Hidden by default */
            position: fixed;
            z-index: 1000;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.4);
        }

        .product-modal-content {
            background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            max-width: 800px;
        }

        .product-modal-close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .product-modal-close:hover,
        .product-modal-close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

        .product-modal label {
            display: block;
            margin: 10px 0 5px;
        }

        .product-modal input,
        .product-modal textarea {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .product-modal button {
            padding: 10px 15px;
            background-color: #28a745;
            color: white;
            border: none;
            cursor: pointer;
            border-radius: 4px;
        }

        .product-modal button:hover {
            background-color: #218838;
        }

        /* Table styles */
        #technicalSpecsTable {
            width: 100%;
            border-collapse: collapse;
        }

        #technicalSpecsTable th,
        #technicalSpecsTable td {
            border: 1px solid #ccc;
            padding: 8px;
        }

        #technicalSpecsTable th {
            background-color: #f2f2f2;
        }

        /* START ===== */
        .row-add-btn {
            display: flex;
            justify-content: end;
        }

        .row-input {
            display: flex;
            justify-content: space-between;
            gap: 12px;
            margin-bottom: 10px;
        }

        .product-modal h3 {
            margin: 0;
            margin-top: 20px;
            margin-bottom: 8px;
        }

        .product-modal h4 {
            margin: 0;
            margin-top: 8px;
            margin-bottom: 4px;
        }
        
        .product-modal .input {
            min-height: 35px;
            box-sizing: border-box;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin: 0;
        }

        .product-modal .input:focus {
            outline: none;
            border-color: #22BAA0;
        }

        .product-modal .input-text-50 {
            width: 50%;
        }
        
        .product-modal .input-text-100 {
            width: 100%;
        }

        .product-modal .popup-form-remove-btn {
            /* border: 1px solid #f20; */
            border-radius: 6px;
            background-color: #f20;
            color: #fff;
            font-weight: 600;
            cursor: pointer;
        }

        .product-modal .popup-form-remove-btn:hover {
            /* border: 1px solid rgb(223, 30, 0); */
            background-color: rgb(223, 30, 0);
            color: #fff;
        }

        .product-modal .technicalSpecsTable {
            width: 100%;
        }

        .product-modal .technicalSpecsTable {
            width: 100%;
            border-collapse: collapse;
            margin-top: 10px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
        }

        .product-modal .technicalSpecsTable th {
            padding: 10px 10px 10px 18px;
            text-align: left;
        }

        .product-modal .technicalSpecsTable td {
            padding: 10px;
            text-align: left;
            border-top: 1px solid #ccc;
        }

        .product-modal .technicalSpecsTable th:last-child,
        .product-modal .technicalSpecsTable td:last-child {
            text-align: center;
        }

        .product-modal .technicalSpecsTable th {
            background-color: #f2f2f2;
        }

        .product-modal .technicalSpecsTable button {
            height: 100%;
            /* padding: 5px 10px; */
            background-color: #f44336;
            color: white;
            border: none;
            border-radius: 6px;
            cursor: pointer;
        }

        .product-modal #addSpecGroup {
            margin-top: 10px;
        }

        .product-modal .popup-submit {
            margin-left: auto;
            margin-top: 12px;
        }
        /* END ===== */
    </style>

</head>

<body>
    <input type="checkbox" id="menu-toggle">
    <div class="sidebar">
        <div class="side-header">
            <h3>M<span>odern</span></h3>
        </div>

        <div class="side-content">
            <div class="profile">
                <div class="profile-img bg-img" style="background-image: url(/publics/assets/img/dashboard/3.jpeg)">
                </div>
                <h4>David Green</h4>
                <small>Art Director</small>
            </div>

            <div class="side-menu">
                <ul>
                    <li>
                        <a href="/v1/admin/products" class="active">
                            <span class="las la-home"></span>
                            <small>Dashboard</small>
                        </a>
                    </li>
                    <li>
                        <a href="/v1/admin/orders">
                            <span class="las la-shopping-cart"></span>
                            <small>Orders</small>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="main-content">

        <header>
            <div class="header-content">
                <label for="menu-toggle">
                    <span class="las la-bars"></span>
                </label>

                <div class="header-menu">
                    <label for="">
                        <span class="las la-search"></span>
                    </label>

                    <div class="notify-icon">
                        <span class="las la-envelope"></span>
                        <span class="notify">4</span>
                    </div>

                    <div class="notify-icon">
                        <span class="las la-bell"></span>
                        <span class="notify">3</span>
                    </div>

                    <div class="user">
                        <div class="bg-img" style="background-image: url('https://i.pinimg.com/564x/0d/64/98/0d64989794b1a4c9d89bff571d3d5842.jpg')"></div>

                        <span class="las la-power-off"></span>
                        <span>Logout</span>
                    </div>
                </div>
            </div>
        </header>


        <main>

            <div class="page-header">
                <h1>Dashboard</h1>
                <small>Home / Dashboard</small>
            </div>

            <div class="page-content">

                <div class="analytics">

                    <div class="card">
                        <div class="card-head">
                            <h2>107,200</h2>
                            <span class="las la-user-friends"></span>
                        </div>
                        <div class="card-progress">
                            <small>User activity this month</small>
                            <div class="card-indicator">
                                <div class="indicator one" style="width: 60%"></div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-head">
                            <h2>340,230</h2>
                            <span class="las la-eye"></span>
                        </div>
                        <div class="card-progress">
                            <small>Page views</small>
                            <div class="card-indicator">
                                <div class="indicator two" style="width: 80%"></div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-head">
                            <h2>$653,200</h2>
                            <span class="las la-shopping-cart"></span>
                        </div>
                        <div class="card-progress">
                            <small>Monthly revenue growth</small>
                            <div class="card-indicator">
                                <div class="indicator three" style="width: 65%"></div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-head">
                            <h2>47,500</h2>
                            <span class="las la-envelope"></span>
                        </div>
                        <div class="card-progress">
                            <small>New E-mails received</small>
                            <div class="card-indicator">
                                <div class="indicator four" style="width: 90%"></div>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="records table-responsive">
                    <div class="record-header">
                        <div class="add">
                            <button id="productOpenModal">Thêm sản phẩm<button>
                        </div>

                        <div id="productModal" class="product-modal">
                            <div class="product-modal-content">
                                <span class="product-modal-close">&times;</span>
                                <h2>Thông Tin Sản Phẩm</h2>
                                <form id="productForm">
                                    <label for="tenSanPham">Tên Sản Phẩm</label>
                                    <input type="text" id="tenSanPham" name="tenSanPham">

                                    <label for="phienBan">Phiên Bản</label>
                                    <input type="text" id="phienBan" name="phienBan">

                                    <label for="giaBan">Giá Bán</label>
                                    <input type="number" id="giaBan" name="giaBan">

                                    <label for="sale">Khuyến Mãi</label>
                                    <input type="text" id="sale" name="sale">

                                    <label for="donVi">Đơn Vị</label>
                                    <input type="text" id="donVi" name="donVi">

                                    <label for="mauSac">Màu Sắc</label>
                                    <input type="text" id="mauSac" name="mauSac">

                                    <h3>Khuyến Mãi</h3>
                                    <div id="promotionContainer">
                                        <div class="promotion">
                                            <input type="text" name="khuyenMaiChiTiet[]"
                                                placeholder="Chi Tiết Khuyến Mãi">
                                            <input type="text" name="khuyenMaiUrl[]" placeholder="URL" />
                                            <button type="button" class="removePromotion">Xóa</button>
                                        </div>
                                    </div>
                                    <button type="button" id="addPromotion">Thêm Khuyến Mãi</button>

                                    <h3>Thông Tin Sản Phẩm</h3>
                                    <div id="productInfoContainer">
                                        <div class="productInfoGroup">
                                            <input type="text" name="thongTinSanPham[]" placeholder="Thông Tin Sản Phẩm"
                                            >
                                            <button type="button" class="removeProductInfo">Xóa</button>
                                        </div>
                                    </div>
                                    <button type="button" id="addProductInfo">Thêm Thông Tin Sản Phẩm</button>

                                    <h3>Thông Số Kỹ Thuật</h3>
                                    <div id="specGroupContainer">
                                        <div class="specGroup">
                                            <h4>Loại Thông Số</h4>
                                            <input type="text" class="specType" placeholder="Loại Thông Số">
                                            <table class="technicalSpecsTable">
                                                <thead>
                                                    <tr>
                                                        <th>Tên Thông Số</th>
                                                        <th>Chi Tiết</th>
                                                        <th>Hành Động</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td><input type="text" name="tenThongSo"
                                                                placeholder="Tên Thông Số"></td>
                                                        <td><input type="text" name="chiTietThongSo"
                                                                placeholder="Chi Tiết"></td>
                                                        <td><button type="button" class="removeRow">Xóa</button></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <button type="button" class="addSpecRow">Thêm Thông Số</button>
                                        </div>
                                    </div>
                                    <button type="button" id="addSpecGroup">Thêm Loại Thông Số</button>

                                    <!-- More product fields -->
                                    <label for="loaiSanPhamID">Loại Sản Phẩm</label>
                                    <select id="loaiSanPhamID" name="loaiSanPhamID">
                                        <option value="66d9144faf7f7d7628a1965d">Laptop</option>
                                        <option value="66eae9759358dc725422687a">Điện thoại</option>
                                        <option value="66eae98b9358dc725422687b">Âm thanh</option>
                                        <option value="66eae9a79358dc725422687c">Chuột máy tính</option>
                                        <option value="66eb18c79358dc725422688d">Đồng hồ</option>
                                    </select>

                                    <label for="nhanHieu">Nhãn Hiệu</label>
                                    <input type="text" id="nhanHieu" name="nhanHieu">

                                    <button type="submit">Lưu Sản Phẩm</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="browse">
                    <input type="search" placeholder="Search" class="record-search">
                    <select name="" id="">
                        <option value="">Status</option>
                    </select>
                </div>
            </div>

            <div>
                <table width="100%">
                    <thead>
                        <tr>
                            <th>Mã sản phẩm</th>
                            <th>Tên sản phẩm</th>
                            <th>Loại sản phẩm</th>
                            <th>Giá bán</th>
                            <th>Tình trạng hàng</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (data && data.length> 0) { %>
                            <% data.forEach(function(product) { %>
                                <tr>
                                    <td>
                                        <%= product._id %>
                                    </td>
                                    <td>
                                        <div class="client">
                                            <div class="client-img bg-img"
                                                style="background-image: url('<%= product.imgDefault %>')">
                                            </div>
                                            <div class="client-info">
                                                <h4>
                                                    <%= product.tenSanPham %>
                                                </h4>
                                                <small>
                                                    <%= product.phienBan %>
                                                </small>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <%= product["Nhãn hiệu"] %>
                                    </td>
                                    <td>
                                        <%= product.giaBan %> VND
                                    </td>
                                    <td>
                                        <span class="paid">
                                            <%= product.tinhTrangHang %>
                                        </span>
                                    </td>
                                    <td>
                                        <button type="button" class="order-action-btn edit-order-btn"
                                            onclick="toggleUpdateForm('<%= product._id %>')" class="icon-button">
                                            <i class="fa-regular fa-pen-to-square" title="Sửa sản phẩm"></i>
                                        </button>
                                        <button type="button" class="order-action-btn delete-order-btn"
                                            onclick="deleteProduct('<%= product._id %>')" class="icon-button">
                                            <i class="fa-solid fa-trash" title="Xóa sản phẩm"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr id="update-form-<%= product._id %>" style="display: none;">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td class="update-form-order">
                                        <select class="select-order-status"
                                            onchange="updateOrderStatus(this.value, '<%= product._id %>')">
                                            <option value="" disabled selected>Chọn trạng thái</option>

                                            <% if (tinhTrangHang && tinhTrangHang.success && tinhTrangHang.data.length>
                                                0) { %>
                                                <% tinhTrangHang.data.forEach(function(status) { %>
                                                    <option value="<%= status._id %>">
                                                        <%= status.tenTrangThai %>
                                                    </option>
                                                    <% }); %>
                                                        <% } else { %>
                                                            <option value="" disabled>Không có trạng thái nào
                                                            </option>
                                                            <% } %>
                                        </select>


                                    </td>
                                    <td class="edit-form-action-cell">
                                        <button type="button" class="apply-order-btn"
                                            onclick="saveUpdateProduct('<%= product._id %>')">Lưu</button>
                                        <button type="button" class="cancel-order-btn"
                                            onclick="toggleUpdateForm('<%= product._id %>')">Hủy</button>
                                    </td>
                                </tr>
                                <% }); %>
                                    <% } else { %>
                                        <tr>
                                            <td colspan="6">Không có sản phẩm nào.</td>
                                        </tr>
                                        <% } %>

                    </tbody>
                </table>

            </div>

    </div>

    </div>

    </main>

    </div>

    <script type="text/javascript" src="/publics/js/dashboard.js"></script>

</body>

</html>