<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TOPICO</title>

    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="/publics/swiperJs/swiper-bundle.min.css" />

    <!-- Link Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <!-- Link File CSS -->
    <link rel="stylesheet" href="/publics/assets/styles/style.css">
</head>

<body class="menu-side-in-bag feature-bag">
    
    <header>
        <div class="header-top">
            <div class="contanier">
                <p></p>
                <div class="link-top-heder">
                    <a href="#">My Account</a>
                    <a href="#">My Wishlist</a>
                    <a href="/v1/sites/auth/login">Sign In</a>
                    <a href="#">Compare</a>
                </div>
            </div>
        </div>

        <div class="header-info">
            <div class="contanier">
                <img src="/publics/assets/img/home/logo.png" alt="">

                <div class="search-bar">
                    <form action="">
                        <input type="search" placeholder="Nhập sản phẩm bạn muốn tìm kiếm...">
                        <button class="btn-srch">Search</button>
                    </form>
                </div>
                <div class="card">
                    <a href="/v1/sites/my-cart/">
                        <i class="fa-solid fa-bag-shopping"></i>
                        <span class="count-in-card">2</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="header-bottom">
            <div class="contanier">
                <i id="open-side" class="fa-solid fa-bars"></i>
                <ul class="nav-links">
                    <li>
                        <a href="/v1/sites/features?categoryID=66d9144faf7f7d7628a1965d"><i class="fa-solid fa-laptop"></i>Laptop</a>
                    </li>

                    <li>
                        <a href="/v1/sites/features?categoryID=66eae9759358dc725422687a"><i class="fa-solid fa-mobile-alt"></i> Điện thoại, Tablet</a>
                    </li>

                    <li>
                        <a href="/v1/sites/features?categoryID=66eae98b9358dc725422687b"><i class="fa-solid fa-headphones-alt"></i> Âm thanh</a>
                    </li>

                    <li>
                        <a href="/v1/sites/features?categoryID=66eb18c79358dc725422688d"><i class="fa-regular fa-clock"></i> Đồng hồ</a>
                    </li>

                    <li>
                        <a href="/v1/sites/features?categoryID=66eae9a79358dc725422687c"><i class="fa-solid fa-computer-mouse"></i></i>Chuột máy tính</a>
                    </li>
                </ul>
                <a href="sign-up-page.html" class="sign-in-btn"><i class="fa-solid fa-user-plus"></i> Đăng ký</a>
            </div>
        </div>
        

    </header>

    <section class="fuature-sec">
        <div class="contanier">
            <div class="boxs">

                <div class="boxs swiper-wrapper">
                    <% if (products && products.length> 0) { %>
                        <% products.forEach(product=> { %>
                            <div class="box column product-item swiper-slide">

                                <div class="div-img">
                                    <img src="<%= product.imgDefault %>" class="img-product" alt="Product Image">
                                    <img src="<%= product.imgHover %>" class="hover-img" alt="Product Hover Image">
                                </div>
                                <div class="content">
                                    <a class="product-item-link">
                                        <%= product.tenSanPham %>
                                    </a>
                                    <div class="stars">
                                        <% for (let i=0; i < Math.floor(product.rate); i++) { %>
                                            <i class="fa-solid fa-star"></i>
                                            <% } %>
                                                <% if (product.rate % 1 !==0) { %>
                                                    <i class="fa-solid fa-star-half-stroke"></i>
                                                    <% } %>
                                    </div>
                                    <div class="price">
                                        <span>
                                            <%= product.giaBan.toLocaleString() %>
                                                <%= product.donVi %>
                                        </span>
                                        <del>
                                            <%= (product.giaBan * 1.1).toFixed(2) %>
                                                <%= product.donVi %>
                                        </del>
                                    </div>
                                </div>
                            </div>
                            <% }) %>
                                <% } else { %>
                                    <p>Không có sản phẩm nào.</p>
                                    <% } %>
                </div>

            </div>

            <div class="btn-page">
                <ul>
                    <li>
                        </li>
                    <li class="active">1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                </ul>
            </div>
        </div>
    </section>

    <div class="newsletter">
        <div class="contanier">
            <div class="subscribe-content">
                <img src="/publics/assets/img/home/icon_email.png" alt="">
                <div class="text">
                    <h4>Đăng ký để nhận tin tức mới nhất</h4>
                    <p>Đăng ký email để nhận tin tức mới nhất và sản phẩm mới</p>
                    <span></span>
                </div>
            </div>
            <div class="subscribe-form">
                <form action="">
                    <input type="search" placeholder="Nhập email của bạn để đăng ký">
                    <button class="btn-srch">Đăng ký</button>
                </form>
            </div>
        </div>
    </div>  
    <script type="text/javascript" src="/publics/js/feature.js"></script>
</body>

</html>
