<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TOPICO</title>

    <!-- Link CSS của Swiper -->
    <link rel="stylesheet" href="/publics/swiperJs/swiper-bundle.min.css" />

    <!-- Link Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <!-- Link File CSS -->
    <link rel="stylesheet" href="/publics/assets/styles/style.css">
</head>

<body class="menu-side-in-bag">

    <header>

        <div class="header-top">
            <div class="contanier">
                <p>Chào mừng bạn đến với Cửa hàng XPrim</p>
                <div class="link-top-heder">
                    <a href="#">My Account</a>
                    <a href="#">My Wishlist</a>
                    <a href="#">Sign In</a>
                    <a href="#">Compare</a>
                </div>
            </div>
        </div>

        <div class="header-info">
            <div class="contanier">
                <img src="/publics/assets/img/home/logo.png" alt="">

                <div class="search-bar">
                    <form action="">
                        <input type="search" placeholder="Nhập sản phẩm bạn muốn tìm kiếm...">
                        <button class="btn-srch">Search</button>
                    </form>
                </div>
                <div class="card">
                    <a href="mycart.html"><i class="fa-solid fa-bag-shopping"></i> <span
                            class="count-in-card">2</span></a>
                </div>
            </div>
        </div>

        <div class="header-bottom">
            <div class="contanier">
                <i id="open-side" class="fa-solid fa-bars"></i>
                <ul class="nav-links">

                    <li>
                        <a href="index.html">Laptop</a>

                        <div class="drobdwon">
                            <ul>
                                <li><a href="#">Macbook</a></li>
                            </ul>
                            <ul>
                                <li><a href="#">ASUS</a></li>
                            </ul>
                            <ul>
                                <li><a href="#">Lenovo</a></li>
                            </ul>
                            <ul>
                                <li><a href="#">Dell</a></li>
                            </ul>
                            <ul>
                                <li><a href="#">HP</a></li>
                            </ul>
                            <ul>
                                <li><a href="#">Acer</a></li>
                            </ul>
                            <ul>
                                <li><a href="#">LG</a></li>
                            </ul>
                            <ul>
                                <li><a href="#">MSI</a></li>
                            </ul>
                            <ul>
                                <li><a href="#">Xem tất cả sản phẩm</a></li>
                            </ul>
                        </div>
                    </li>

                    <li>
                        <a href="#">Điện thoại, Tablet</a>

                        <div class="drobdwon">
                            <ul>
                                <li><a href="#">Iphone</a></li>
                            </ul>
                            <ul>
                                <li><a href="#">SamSung</a></li>
                            </ul>
                            <ul>
                                <li><a href="#">Xiaomi</a></li>
                            </ul>
                            <ul>
                                <li><a href="#">OPPO</a></li>
                            </ul>
                            <ul>
                                <li><a href="#">vivo</a></li>
                            </ul>
                            <ul>
                                <li><a href="#">Xem tất cả sản phẩm</a></li>
                            </ul>
                        </div>
                    </li>

                    <li>
                        <a href="#">Âm thanh</a>

                        <div class="drobdwon">
                            <ul>
                                <li><a href="#">Bluetooth</a></li>
                            </ul>
                            <ul>
                                <li><a href="#">Chụp tai</a></li>
                            </ul>
                            <ul>
                                <li><a href="#">Nhét tai</a></li>
                            </ul>
                            <ul>
                                <li><a href="#">Có dây</a></li>
                            </ul>
                            <ul>
                                <li><a href="#">Thể thao</a></li>
                            </ul>
                            <ul>
                                <li><a href="#">Gaming</a></li>
                            </ul>
                            <ul>
                                <li><a href="#">Xem tất cả sản phẩm</a></li>
                            </ul>
                        </div>
                    </li>

                    <li>
                        <a href="#">Đồng hồ</a>
                    </li>

                    <li>
                        <a href="#">Phụ kiện</a>
                    </li>

                    <li>
                        <a href="#">PC, Màn hình, máy in</a>
                    </li>


                </ul>
                <a href="sign-up-page.html" class="sign-in-btn"><i class="fa-solid fa-user-plus"></i> </a>


            </div>
        </div>


    </header>

    <section class="cart">
        <form action="#">

            <div class="opc-sidebar">
                <h4>Đơn hàng</h4>
        
                <!-- Hiển thị tổng cộng -->
                <p class="totl">Tổng cộng: <%= totalAmount %></p>
        
                <div class="opc-box">
                    <div class="count-items">
                        <!-- Hiển thị số lượng sản phẩm trong giỏ hàng -->
                        <p class="cont-p"> <span class="count-item-number"><%= totalItems %></span> sản phẩm trong giỏ hàng</p>
                    </div>
        
                    <!-- Lặp qua từng sản phẩm trong giỏ hàng -->
                    <% if (cartItems.length > 0) { %>
                        <% cartItems.forEach(item => { %>
                        <div class="item">
                            <!-- Sử dụng hình ảnh sản phẩm -->
                            <img src="<%= item.imageDefault || '/publics/assets/img/default-product.jpg' %>" alt="<%= item.tenSanPham %>">
                            <div class="info-item">
                                <!-- Hiển thị tên sản phẩm -->
                                <p class="name-item"><%= item.tenSanPham %></p>
                                <!-- Hiển thị giá sản phẩm -->
                                <p class="price-item">Giá: <span><%= item.gia %></span></p>
                                <!-- Hiển thị số lượng -->
                                <p class="count">Số lượng: <span><%= item.soLuong %></span></p>
                            </div>
                        </div>
                        <% }); %>
                    <% } else { %>
                        <p>Không có sản phẩm nào trong giỏ hàng.</p>
                    <% } %>
                </div>
        
                <div class="btn-div">
                    <a href="#info-user" class="btn">Hoàn tất đơn hàng</a>
                </div>
            </div>
            
            <div class="row contanier">
                <div class="coupon-all">
                    <div class="coupon">
                        <input placeholder="Nhập mã giảm giá..." type="text">
                        <button>Dùng mã</button>
                    </div>
                    <div class="coupon2">
                        <button>Cập nhật</button>
                    </div>
                </div>
            </div>

            <div id="info-user" class="cont-box-info">

                <div class="info-order box brd-box">
                    <h4> <i class="fa-solid fa-list"></i> Nhập thông tin và địa chỉ của bạn </h4>
                    <div class="info pad-box">
                        <h5>Sử dụng địa chỉ này</h5>
                        <div class="info-account">
                            <input checked="checked" type="radio">
                            <span>
                                Đường Hoa, 
                                Hải Phòng, 
                                Việt Nam
                            </span>
                        </div>

                        <div class="new-info">
                            <div class="radio-inp">
                                <input type="radio">
                                <span>Tôi muốn dùng địa chỉ mới</span>
                            </div>

                            <div class="show-inp-new-info">
                                <form action="">
                                    <div class="div-inp">
                                        <i class="fa-solid fa-user-pen"></i>
                                        <input type="text" placeholder="Tên">
                                    </div>

                                    <div class="div-inp">
                                        <i class="fa-regular fa-building"></i>
                                        <input type="text" placeholder="Công ty">
                                    </div>

                                    <div class="div-inp">
                                        <i class="fa-solid fa-location-dot"></i>
                                        <input type="text" placeholder="Địa chỉ 1:">
                                    </div>
                                    <div class="div-inp">
                                        <i class="fa-solid fa-map-location-dot"></i>
                                        <input type="text" placeholder="Thành phố:">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box">
                    <div class="delvr-box brd-box">
                        <h4><i class="fa-solid fa-truck-fast"></i> Chọn phương thức vận chuyển</h4>

                        <div class="info box pad-box">
                            <div class="delvr-info">
                                <input type="radio">
                                <span>Giao hàng tiêu chuẩn</span>
                            </div>
                            <div class="delvr-info">
                                <input checked="checked" type="radio">
                                <span>Miễn phí vận chuyển</span>
                            </div>
                        </div>
                    </div>

                    <div class="delvr-box brd-box">
                        <h4><i class="fa-solid fa-money-check-dollar"></i> Chọn phương thức thanh toán</h4>

                        <div class="info box pad-box">
                            <div class="delvr-info">
                                <input type="radio">
                                <span>Thẻ tín dụng</span>
                            </div>
                            <div class="delvr-info">
                                <input checked="checked" type="radio">
                                <span>Chuyển khoản ngân hàng</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </section>

    <!-- Link JS của Swiper -->
    <script src="/publics/swiperJs/swiper-bundle.min.js"></script>
    <!-- File JavaScript -->
    <script src="/publics/assets/js/script.js"></script>
</body>

</html>
