<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

 <title>TECHSTORE</title>


    <!-- Link CSS của Swiper -->
    <link rel="stylesheet" href="/publics/swiperJs/swiper-bundle.min.css" />

    <!-- Link Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <!-- Link File CSS -->
    <link rel="stylesheet" href="/publics/assets/styles/style.css">

    <link rel="stylesheet" href="/publics/assets/styles/css/bootstrap.min.css">
    <link rel="stylesheet" href="/publics/assets/styles/css/blue.css">

    <style>
        body {
            padding: 20px;
        }

        .icheckbox_flat-blue,
        .iradio_flat-blue {
            top: -2px;
            margin-right: 5px;
        }

        .txtGray {
            color: #798594;
        }
    </style>

    <script src="/publics/js/authCheck.js" defer></script>

</head>

<body class="menu-side-in-bag">

    <header>

        <div class="header-top">
            <div class="container">
                <p></p>
                <div class="link-top-header">
                    <% if (isAuthenticated) { %>
                         <a href="/v1/sites/" id="authLink">Đăng xuất</a>
                    <% } else { %>
                        <a href="/v1/sites/auth/login" id="authLink">Đăng nhập</a>
                    <% } %>
                </div>
            </div>
        </div>

        <script>
    document.getElementById("authLink").addEventListener("click", function() {
        if (isAuthenticated) {
            document.cookie = "userID=; gioHangID=; token=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
            window.location.href = "/v1/sites/auth/login"; // Chuyển hướng về trang đăng nhập
        }
    });
</script> 
        
        <div class="header-info">
            <div class="contanier">
               <h2 style="font-size: 20px;">TECHSTORE</h2>

                <div class="search-bar">
                    <form action="">
                        <input type="search" placeholder="Nhập sản phẩm bạn muốn tìm kiếm...">
                        <button class="btn-srch">Search</button>
                    </form>
                </div>
                <div class="card">
                    <a href="/v1/sites/my-cart/">
                        <i class="fa-solid fa-bag-shopping"></i>
                        <span class="count-in-card"> <%= soSanPhamTrongGio %> </span>
                    </a>
                </div>
            </div>
        </div>

        <div class="header-bottom">
            <div class="contanier">
                <i id="open-side" class="fa-solid fa-bars"></i>
                <ul class="nav-links">

                    <li>
                        <a href="/v1/sites/features?categoryID=66d9144faf7f7d7628a1965d"><i
                                class="fa-solid fa-laptop"></i>Laptop</a>
                    </li>

                    <li>
                        <a href="/v1/sites/features?categoryID=66eae9759358dc725422687a"><i
                                class="fa-solid fa-mobile-alt"></i> Điện thoại, Tablet</a>
                    </li>

                    <li>
                        <a href="/v1/sites/features?categoryID=66eae98b9358dc725422687b"><i
                                class="fa-solid fa-headphones-alt"></i> Âm thanh</a>
                    </li>

                    <li>
                        <a href="/v1/sites/features?categoryID=66eb18c79358dc725422688d"><i
                                class="fa-regular fa-clock"></i> Đồng hồ</a>
                    </li>

                    <li>
                        <a href="/v1/sites/features?categoryID=66eae9a79358dc725422687c"><i
                                class="fa-solid fa-computer-mouse"></i></i>Chuột máy tính</a>
                    </li>


                </ul>
                <a href="sign-up-page.html" class="sign-in-btn"><i class="fa-solid fa-user-plus"></i> </a>


            </div>
        </div>


    </header>

    <section class="cart">
        <form action="#" style="position: relative;">

            <div class="opc-sidebar">
                <h4>Đơn hàng</h4>

                <p class="totl" id="totalAmount">Tổng cộng: <%= totalAmount %>
                </p>

                <div class="opc-box">
                    <div class="count-items">
                        <p class="cont-p"> <span class="count-item-number">
                                <%= totalItems %>
                            </span> sản phẩm trong giỏ hàng</p>
                    </div>

                    <% if (cartItems.length> 0) { %>
                        <% cartItems.forEach(item=> { %>
                            <div class="item">
                                <img src="<%= item.imageUrl %>" alt="<%= item.tenSanPham %>">
                                <div class="info-item">
                                    <p class="name-item">
                                        <%= item.tenSanPham %>
                                    </p>
                                    <p class="price-item">Giá: <span>
                                            <%= item.gia %>
                                        </span></p>
                                    <p class="count">Số lượng: <span>
                                            <%= item.soLuong %>
                                        </span></p>
                                </div>
                            </div>
                            <% }); %>
                                <% } else { %>
                                    <p>Không có sản phẩm nào trong giỏ hàng.</p>
                                    <% } %>
                </div>
            </div>

            <div id="info-user" class="cont-box-info">
                <div class="info-order box brd-box">
                    <h4> <i class="fa-solid fa-list"></i> Nhập thông tin và địa chỉ của bạn </h4>
                    <div class="info pad-box">
                        <div class="new-info">
                            <div class="show-inp-new-info">
                                <div class="div-inp">
                                    <i class="fa-solid fa-user-pen"></i>
                                    <input type="text" id="tenNguoiNhan" placeholder="Tên">
                                </div>
                                <div class="div-inp">
                                    <i class="fa-solid fa-phone"></i>
                                    <input type="text" id="soDienThoai" placeholder="Số điện thoại">
                                </div>
                                <div class="div-inp">
                                    <i class="fa-solid fa-map-marked-alt"></i>
                                    <input type="text" id="tinh" placeholder="Xã/Huyện/Tỉnh">
                                </div>
                                <div class="div-inp">
                                    <i class="fa-solid fa-location-dot"></i>
                                    <input type="text" id="diaChiChiTiet" placeholder="Địa chỉ chi tiết">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="payment-methods">
                    <div class="payment-option" data-method="bank-transfer" id="cktt">Chuyển khoản ngân hàng</div>
                    <div class="payment-option" data-method="cash" id="ttknh">Thanh toán sau khi nhận hàng</div>
                </div>

                <div id="qr-code">
                    <h2>Quét QR Code để thanh toán</h2>
                    <img src="" alt="QR Code" id="qr-img">
                </div>
            </div>

            <div class="btn-div" style="text-align: center; margin-top: 30px;">
                <button type="button" id="completeOrder" style="background: red; color: #fff" class="btn">Hoàn tất đơn
                    hàng</button>
            </div>
        </form>

        <div class="loader"></div>
    </section>

    <div class="back-top">
        <a href="#">Quay lại trên cùng</a>
    </div>

    <!-- Link JS của Swiper -->
    <script src="/publics/swiperJs/swiper-bundle.min.js"></script>
    <!-- File JavaScript -->
    <script src="/publics/assets/js/script.js"></script>


    <script src="/publics/js/js/jquery.min.js"></script>
    <script src="/publics/js/js/bootstrap.min.js"></script>
    <script src="/publics/js/js/icheck.min.js"></script>

    <script>

        function getCookie(name) {
            const value = `; ${document.cookie}`;
            const parts = value.split(`; ${name}=`);
            if (parts.length === 2) return parts.pop().split(';').shift();
        }

        document.getElementById('completeOrder').addEventListener('click', function () {
            const userID = getCookie('userID');
            const gioHangID = getCookie('gioHangID');

            const hinhThucThanhToan = document.getElementById('cktt').value;
            const trangThaiDonHang = "66ed3f4d627473063b5bb04c";
            const thoiGianGiaoHangDuKien = new Date().toISOString();
            const loader = document.querySelector('.loader');

            loader.style.display = 'block';

            const diaChiGiaoHang = {
                tenNguoiNhan: document.getElementById('tenNguoiNhan').value,
                soDienThoai: document.getElementById('soDienThoai').value,
                tinh: document.getElementById('tinh').value,
                huyen: "",
                xa: "",
                diaChiChiTiet: document.getElementById('diaChiChiTiet').value
            };

            const orderData = {
                userID,
                gioHangID,
                hinhThucThanhToan,
                trangThaiDonHang,
                thoiGianGiaoHangDuKien,
                diaChiGiaoHang
            };

            fetch(`http://localhost:3300/v1/sites/order/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(orderData)
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        alert('Đơn hàng đã được tạo thành công!');
                        loader.style.display = 'none';


                        const notificationData = {
                            donHangID: data.data._id,
                            nguoiDatHang: data.data.userID.email,
                            ngayDatHang: data.data.ngayDatHang
                        };

                        fetch('http://localhost:3300/v1/sites/notification', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(notificationData)
                        })
                            .then(notificationResponse => notificationResponse.json())
                            .then(notificationData => {
                                if (notificationData.success) {
                                    alert('Vui lòng chờ xác nhận đơn hàng');
                                } else {
                                    alert('Có lỗi xảy ra khi gửi thông báo: ' + notificationData.message);
                                }
                            })
                            .catch(error => {
                                console.error('Error:', error);
                                alert('Có lỗi xảy ra khi gửi thông báo.');
                            });

                    } else {
                        alert('Có lỗi xảy ra: ' + data.message);
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Có lỗi xảy ra khi tạo đơn hàng.');
                });
        });

        $(document).ready(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_flat-blue',
                radioClass: 'iradio_flat-blue'
            });
        });

        document.addEventListener('DOMContentLoaded', function () {
            const options = document.querySelectorAll('.payment-option');
            const qrCodeDiv = document.getElementById('qr-code');
            const qrImg = document.getElementById('qr-img');
            const totalAmountText = document.getElementById('totalAmount').textContent;

            const totalAmount = totalAmountText
                .replace('Tổng cộng: ', '')
                .replace(/\./g, '')
                .replace('₫', '')
                .trim();

            const totalAmountNumber = parseFloat(totalAmount);

            const encodedTotalAmount = encodeURIComponent(totalAmountNumber);

            console.log(encodedTotalAmount)

            options.forEach(option => {
                option.addEventListener('click', () => {
                    options.forEach(o => o.classList.remove('selected'));
                    option.classList.add('selected');

                    const gioHangID = '<%= encodeURIComponent(gioHangID) %>';

                    if (option.dataset.method === 'bank-transfer') {
                        qrCodeDiv.style.visibility = 'visible';
                        qrImg.src = `https://img.vietqr.io/image/ICB-109875941614-compact.png?amount=${encodedTotalAmount}&addInfo=Thanh%20toan%20don%20hang%20${encodeURIComponent(gioHangID)}&accountName=109875941614`;
                    } else {
                        qrCodeDiv.style.visibility = 'hidden';
                    }
                });
            });
        });

    </script>

</body>

</html>